@model MvcMovie.Models.SuckleSideViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Suckles" asp-action="Index" method="get">
    <p>

        <select asp-for="SuckleSide" asp-items="Model.Side">
            <option value="">All</option>
        </select>
    </p>
</form>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Suckles[0].SuckleTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suckles[0].Side)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Suckles)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.SuckleTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Side)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
